// Taken from 3.14.0 release
// Altered to enable onepassMode instead of twopassMode.
// https://github.com/nf-core/rnaseq/blob/3.14.0/conf/modules.config

process {
    withName: '.*:ALIGN_STAR:STAR_ALIGN|.*:ALIGN_STAR:STAR_ALIGN_IGENOMES' {
        // cpus = 16    // seems to disable retries?

        ext.args   = { [
            '--quantMode TranscriptomeSAM',
            '--twopassMode None',   // modified from template
            '--outSAMtype BAM Unsorted',
            '--readFilesCommand zcat',
            '--runRNGseed 0',
            '--outFilterMultimapNmax 20',
            '--alignSJDBoverhangMin 1',
            '--outSAMattributes NH HI AS NM MD',
            '--quantTranscriptomeBan Singleend',
            '--outSAMstrandField intronMotif',
            params.save_unaligned ? '--outReadsUnmapped Fastx' : '',
            params.extra_star_align_args ? params.extra_star_align_args.split("\\s(?=--)") : ''
        ].flatten().unique(false).join(' ').trim() }
    }
}

// cleanup = false
